@import "../../shared/styles/colors.scss";

.nodesPanel {
	padding: 1rem;
	max-height: 100%;
	overflow-y: auto;

	display: flex;
	flex-wrap: wrap;
	gap: 1rem;

	& .node {
		display: flex;
		flex-direction: column;

		width: 11rem;
		height: max-content;
		max-height: 5rem;

		padding: 1rem;
		color: $PRIMARY_COLOR;
		text-align: center;
		border-radius: 8px;
		border: 2px solid $PRIMARY_COLOR;
		cursor: grabbing;

		&:hover {
			background: $PRIMARY_COLOR;
			color: $WHITE;
		}
	}
}
